@{
    ViewBag.Title = "Home Page";
}

<h2>HTML Helpers Demo</h2>
@Html.Label("fisrtname", "First Name")
@Html.TextBox("firstname", "John", new { @class = "redtextbox", @readonly = "true" })
</br>
@Html.TextArea("Comments", "", 5, 20, null)</br>
@Html.Label("password", "Password")
@Html.Password("Password")

